<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Niolog.Web</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body class="padding-zero">
        <div id="app" class="container">
            <div class="item row" style="margin-top: 20px">
                <div class="col-md-2">
                    <select class="form-control" v-model="project">
                        <option v-for="p in projects">{{p}}</option>
                    </select>
                </div>
                <div class="input-group col-md-10">
                    <input type="text" v-model="query" class="form-control keyword" placeholder="Enter query">
                    <span class="input-group-btn">
                        <input class="btn btn-default search-button" type="button" value="Search"/>
                    </span>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="key in keys">{{key}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="result in results">
                            <td v-for="key in keys">{{result[key]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <script>
            var app = new Vue({
                el: '#app',
                data:{
                    query: "",
                    project: "",
                    projects: [],
                    keys: [],
                    results: []
                }
            });

            function search(){
                $.get(`./${app.project}/search?query=${app.query}`, function(data){
                    if(data){
                        app.keys = data.keys;
                        app.results = data.logs;
                    }
                });
            }

            $(".search-button").click(function(){
                search();
            });

            $(".keyword").keydown(function(event) {
                if(event.keyCode == 13) {
                    search();
                }
            });

            $.get('./projects', function(data){
                if(data){
                    app.projects = data;
                }
            });
        </script>
    </body>
</html>